<div class="register-container">
  <span class="register-text">Register</span>
  <div class="register-container1">
    <span class="register-text1">Email :</span>
    <input
      type="text"
      id="email_input"
      name="email_id"
      placeholder="Enter Your Email Id"
      class="register-textinput input"
    />
  </div>
  <div class="register-container2">
    <span class="register-text2">Password :</span>
    <input
      type="text"
      id="pass_input"
      name="pass_input"
      placeholder="Enter Your Password"
      class="register-textinput1 input"
    />
  </div>
  <div class="register-container3">
    <span class="register-text3">Confirm Password :</span>
    <input
      type="text"
      id="pass_input"
      name="pass_input"
      placeholder="Enter Your Password"
      class="register-textinput2 input"
    />
  </div>
  <a routerLink="/login" class="register-navlink button">Register</a>
</div>
