<div class="login-container">
  <span class="login-text">Login</span>
  <div class="login-container1">
    <span class="login-text1">Email :</span>
    <input
      type="text"
      id="email_input"
      name="email_id"
      placeholder="Enter Your Email Id"
      class="login-textinput input"
    />
  </div>
  <div class="login-container2">
    <span class="login-text2">Password :</span>
    <input
      type="text"
      id="pass_input"
      name="pass_input"
      placeholder="Enter Your Password"
      class="login-textinput1 input"
    />
  </div>
  <button class="button">Login</button>
</div>
